{% extends "layout.html" %}



{% block content %}

{% block body %}
<h1> Sign Up </h1>
<h2> </h2>

<fieldset class="form-group">

    <form method="POST" action="">
            {{ form.username.label(class="form-control-label") }}  <br>
        {{ form.username() }}<br>

        {{ form.email.label() }} <br>
        {{ form.email() }}<br>
        {{ form.password.label }} <br>
        {{ form.password() }}<br>
        {{ form.confirm_password.label() }} <br>
        {{ form.confirm_password() }}<br>

        {{ form.submit()}}

    </form>
</fieldset>

{% endblock body %}

{% endblock content %}

